.container {
  width: 80vw;
  max-width: 620px;
}
.review {
  padding: 1.5rem 2rem;
  transition: all 0.3s linear;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--brown-red);
  color: #fff;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--brown-red);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.author {
  margin-bottom: 0.25rem;
  font-size: 25px;
  font-family: "Lora", sans-serif;
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--brown-red);
  font-size: var(--font-size);
}
.info {
  margin-bottom: 1.5rem;
  width: 650px;
  font-size: var(--font-size);
}
.prev-btn,
.next-btn {
  color: var(--brown-red);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--text-black);
}
