@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora&family=Poppins:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: rgb(200, 200, 200);
  --brown-red: rgb(137, 82, 84);
  --text-black: #404040;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.s3 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./img/header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);
  z-index: 4;
}

.s4 {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url(./img/sea.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 5;
}
