.about {
  min-height: 100vh;
  background-color: rgb(227, 221, 208);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  display: flex;
  justify-content: center;
}

.imageContainer {
  position: relative;
  height: 600px;
  width: 400px;
  background-color: var(--brown-red);
  margin-right: 40px;
}

.aboutContent img {
  height: 600px;
  position: absolute;
  bottom: -5%;
  left: 5%;
}

.aboutText {
  width: 500px;
  margin-left: 40px;
}

.aboutText h1 {
  color: var(--brown-red);
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  width: 500px;
  font-weight: 300;
}

.aboutText p {
  color: var(--text-black);
  font-size: 19px;
  border-top: 1px solid var(--brown-red);
  padding-top: 30px;
  padding-bottom: 30px;
}

.aboutText a {
  color: var(--brown-red);
  text-decoration: none;
  font-size: 19px;
  font-family: "Lora", sans-serif;
  transition: all 0.25s;
  position: relative;
  padding-bottom: 4px;
}

.aboutText a:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1150px) {
  .aboutContent img {
    height: 500px;
    position: absolute;
    bottom: -5%;
    left: 5%;
  }

  .imageContainer {
    position: relative;
    height: 500px;
    width: 300px;
    background-color: var(--brown-red);
    margin-right: 40px;
  }

  .aboutText h1 {
    font-size: 40px;
    width: 400px;
  }

  .aboutText {
    width: 400px;
  }

  .aboutText p {
    color: var(--text-black);
    font-size: 17px;
    border-top: 1px solid var(--brown-red);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .aboutText a {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  .aboutContent {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 150px;
  }
  .aboutText {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 770px) {
  .aboutContent {
    padding-left: 50px;
    padding-right: 75px;
  }
}

@media (max-width: 500px) {
  .aboutContent {
    padding-left: 25px;
    padding-right: 25px;
  }
  .aboutText p {
    width: 90vw;
  }

  .aboutText h1 {
    font-size: 30px;
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .aboutContent img {
    height: 400px;
    position: absolute;
    bottom: -5%;
    left: 5%;
  }

  .imageContainer {
    position: relative;
    height: 400px;
    width: 250px;
    background-color: var(--brown-red);
    margin-right: 40px;
  }
}
